
extends layout

block content
  div.container.col-xl-8
    div.row.mt-auto
      span.headline About this page

    div.row.blog_headline
      div.col-auto.line
      div.col.col_text
        span.headline_sub Why was this page created?
    div.row.row_text.blog_text
      span.text

        | The idea for this page emerged from a master thesis project about Facebook's approach to digital political advertising transparency on its platform and the shortcomings of its Facebook Ad Library API. <br>
        |After finishing the thesis and graduating from Copenhagen Business School, I decided to offer the retrieved data sets for researchers, journalists and really anyone with an interest in the data.
        |
        | If you are interested in my thesis, please do reach out to #[a(href="mailto:info@politicaladtransparency.com", style="font-weight:bold") info@politicaladtransparency.com] and I will be happy to share it with you

    

    div.row.blog_headline
      div.col-auto.line
      div.col.col_text
        span.headline_sub Who created this page?
    div.row.row_text.blog_text
      span.text

        | This page was created by Cedric Mensah as a personal project. I will continue to update both the page and the available data on an ongoing basis. 
        |
        |You can find me on #[a(href="https://www.linkedin.com/in/cedric-mensah/", style="font-weight:bold") LinkedIn] or reach me via #[a(href="mailto:info@politicaladtransparency.com", style="font-weight:bold") Email] should you have any questions or suggestions.
        |
        | If you like the design and overall look and feel of the website, please do reach out to #[a(href="https://www.linkedin.com/in/oanatoudut/", style="font-weight:bold") Oana Toudut], who is the UI/UX designer that designed the individual elements of this page. 