extends layout

block content
  div.container.col-xl-8
    div.row.mt-auto
      h1.headline Hello World

    div.row.blog_headline
      div.col-auto.line
      div.col.col_text
        span.headline_sub 13.04.2020
    div.row.row_text.blog_text
      img.responsive(src="/images/hello world.jpeg", alt="Hello World")

      span.text
        |
        |After months of planning, interviewing, coding and writing the paper, today I can finally publish this website as the final result of my master's thesis "Digital Political Advertising Transparency for Research & Journalism". 
        | Similar to the thesis, the goal of the site is to improve the understanding of how politicians, NGOs and political action groups advertise on Facebook. It does so by providing data queried from Facebook's Ad Library API to researchers and journalists without the necessary coding abilities in a simple .csv file for analysis, free of charge.
        |
        | Personally, I wanted to accomplish the following goals:
        |
        | #[p(style="font-weight:bold") 1. Understand how to build a web-app and website based on JavaScript and Node]
        | #[p(style="font-weight:bold") 2. Understand how to query APIs by using the Facebook Graph / Ad Library API as an example]
        | #[p(style="font-weight:bold") 3. Understand the principles of cloud computing by building the entire project on Microsoft Azure]
        | #[p(style="font-weight:bold") 4. Improve my product and project management skills by approaching the project as if I were building a product (Ideation & Strategy, User Interviews, Mockups, Feature Backlog, Development, Feedback, Improvement)]
        |
        | I hope you enjoy using this site and find the provided information helpful for your work or research project. I am also eager to receive feedback from users with regard to how the data is provided as well as the overall look and feel of the website - so please do reach out if you have any comments!