extends layout

block content
  div.container.col-xl-8
    div.row.mt-auto
      span.headline Contact Information

    div.row.blog_headline
      div.col-auto.line
      div.col.col_text
        span.headline_sub Do you have questions or feedback?
    div.row.row_text.blog_text

      span.text
        |Please reach out to #[a(href="mailto:info@politicaladtransparency.com", style="font-weight:bold") info@politicaladtransparency.com] with any inquiries regarding this page or the provided data and I will try to respond as quickly as possible.

    

