extends layout

block content
  div.container.col-xl-8
    div.row.mt-auto
      h1.headline About the data

    div.row.blog_headline
      div.col-auto.line
      div.col.col_text
        span.headline_sub What is the data about?
    div.row.row_text.blog_text

      span.text
        | The data includes all Facebook posts with content that the social media platform considers political or concerning a social issue. The collection of posts goes back to the launch of the Facebook Ad Library API in March of 2019.
        |
        | Due to file size limitations, the provided file currently only includes the information that is necessary to analyze content and timing of a post (post text, included links, publish date etc.). 
        |
        |More detailed information about demographics (who saw the post?) and geographic distribution (where was the post seen?) can be provided on request for all available data sets. If you are interested in data for other countries, please let me know and I will try to include it on this page as soon as possible.
    
    div.row.blog_headline
      div.col-auto.line
      div.col.col_text
        span.headline_sub How can the data be accessed and analyzed?
    div.row.row_text.blog_textS

      span.text
        | In order to access and analyze the data, download it from the #[a(href="https://www.politicaladtransparency.com", style="font-weight:bold") home page].
        |
        | For a quick first analysis of the data, use Excel to open the downloaded .csv file in the following way:
        |
        |
        ol
          li Open a new empty Excel worksheet 
          li Click on data, then Get External Data and then "Import Text File"
          li Choose the downloaded file from where you store your downloads
          li In the Text Import Wizard, choose the "Delimited" data type and "File Origin" UTF-8
          li Click on "Next", then choose "Semicolon" as the Delimiter
          li Click "Finish" and let Excel read in the file. This might take a while depending on your system but once completed you will be able to scrutinize the data.
  
        | Another alternative to analyze the data is by reading it into a Python Panda's Notebook or using it as a data source for i.e. Power BI or any other common business intelligence tool.
        
    div.row.blog_headline
      div.col-auto.line
      div.col.col_text
        span.headline_sub Where does the data come from?
    div.row.row_text.blog_text

      span.text

        |The data is sourced from Facebook's Ad Library API. The owner of this page does not claim any ownership of it. 
        |
        |For a detailed documentation of how Facebook collects, processes and stores the data, please visit the #[a(href="https://www.facebook.com/ads/library/api/?source=archive-landing-page&session_id=e10557ce-5f33-45f2-9827-8d48f8fee068", style="font-weight:bold") Facebook Ad Library API Documentation].

    div.row.blog_headline
      div.col-auto.line
      div.col.col_text
        span.headline_sub What format is the data provided in?
    div.row.row_text.blog_text

      span.text

        |The data is provided as a simple file with comma separated values (csv). It can be easily opened for analysis in Excel or any basic text editor.

    div.row.blog_headline
      div.col-auto.line
      div.col.col_text
        span.headline_sub Has the data been changed at all?
    div.row.row_text.blog_text

      span.text

        p.text-bold  No!
        | The data has simply been transformed from the JSON format provided by the Facebook Ad library API to a plain .csv file in order to make it easier for non-developers to scrutinize its content. It has also been "cleaned", meaning that format-breaking characters have been deleted in order to allow you to analyze the data without doing any prep-work yourself. However, at no point has any of the data point values been changed or manipulated in any way.