extends layout

block content
   div.container.col-xl-8
    div.row.mt-auto
      span.headline 404 Page not found...

    div.row.blog_headline
      div.col-auto.line
      div.col.col_text
        span.headline_sub ... This page does not exist, but you can always go back or visit another one
    div.row.row_text.blog_text

      span.text