extends layout

 

block content
  div.container.col-xl-8.index-content
    div.row
      h1.headline 
        |Political Ad Transparency 
        |on <br> Facebook for Everyone

    div.row.row_text
      div.col
        div.row
          div.col-auto.line
          div.col
            span.text
              | Facebook is one of the major advertising platforms of our time and many politicians, parties, NGOs and action groups pay to promote their ideas and programs on the platform. 
              |
              
        div.row
          div.col-auto.line
          div.col
            span.text
              |The goal of this page is to use official Facebook data on paid advertising posts to provide more transparency on which political actors are paying for content on the platform for researchers, journalists and curious citizens .
      
    div.row.row_text
     div.col
        div.row
          div.col-auto.line
          div.col
            span.text
              | Use the download button below to access all available data points for a selected country.
              | For an overview of the specific available data points visit the documentation page or the #[a(href="https://www.facebook.com/ads/library/api/?source=archive-landing-page&session_id=e10557ce-5f33-45f2-9827-8d48f8fee068", style="font-weight:bold") Facebook Ad Library API Documentation]. 
         
        div.row
          div.col-auto.line
          div.col
            span.text
              |All data is queried from the official Facebook Ad Library API and the owner of this page does in no way claim ownership of it.
            
                  
    .row
      div.col-md-4.tile
        div.rectangle
          div.col
            .row.centered_row
              img(src="images/Location icon.png" alt="Location")
            .row.centered_row
              span.text_data(id="location") 12
            .row.centered_row
              span.text_data_description available countries
      
      div.col-md-4.tile
        div.rectangle
          div.col
            .row.centered_row
              img(src="images/Posts icon.png" alt="Posts")
            .row.centered_row
              span.text_data(id="posts") 1.500.000
            .row.centered_row
              span.text_data_description Posts in the database

      div.col-md-4.tile 
        div.rectangle
          div.col
            .row.centered_row
              img(src="images/Update icon.png" alt="Loading")
            .row.centered_row
              span.text_data(id="update") 17.11.2020
            .row.centered_row
              span.text_data_description Latest data update

  div.download_row
      div.container
        div.col
          .row.centered_row
            span.interested Interested in the Data?
          .row.centered_row
            .col-md-6.centered_dropdown
              btn.btn-secondary.dropdown-toggle(type="button" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Pick a country  
                div.dropdown-menu(aria-labelledby="dropdown1")
                  a.dropdown-item(href="", id="australia") Australia
                  a.dropdown-item(href="", id="denmark") Denmark
                  a.dropdown-item(href="", id="finland") Finland
                  a.dropdown-item(href="", id="france") France
                  a.dropdown-item(href="", id="germany") Germany
                  a.dropdown-item(href="", id="hungary") Hungary
                  a.dropdown-item(href="", id="india") India
                  a.dropdown-item(href="", id="norway") Norway
                  a.dropdown-item(href="", id="sweden") Sweden
                  a.dropdown-item(href="", id="slovakia") Slovakia
                  a.dropdown-item(href="", id="uk") United Kingdom
                  a.dropdown-item(href="", id="usa") United States

            div.col-md-6.centered_row
              btn.btn.btn-primary.btn-lg.btn-block 
                a(href="" id="country") Download
              
          .row.centered_row
            span.interested_pick *Scroll through the dropdown list to pick a country 


  script(src="/javascripts/downloads.js")
          
        
