extends layout

block content
  div.container.col-xl-8
    div.row.mt-auto
      div
        h1.headline Legal Notice
        
    div.row.blog_headline
      div.col-auto.line
      div.col.col_text
        span.headline_sub Page Owner
    div.row.row_text.blog_text
      span.text
        |This page is owned by Cedric Mensah and operated out of Denmark. For any inquiries, please reach out to  #[a(href="mailto:info@politicaladtransparency.com", style="font-weight:bold") info@politicaladtransparency.com]
    
    div.row.blog_headline
      div.col-auto.line
      div.col.col_text
        span.headline_sub Disclaimer
    div.row.row_text.blog_text
      span.text
        |The information contained in this website is for general information purposes only.
        |
        |The information is provided by the page owner and while I endeavour to keep the information up to date and correct, I make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose.
        |
        |Any reliance you place on such information is therefore strictly at your own risk.In no event will I be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.
        |
        |Through this website you are able to link to other websites which are not under the control of the page owner. I have no control over the nature, content and availability of those sites and the inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them. 
        |
        |Every effort is made to keep the website up and running smoothly. However, the page owner takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond my control.



    div.row.blog_headline
      div.col-auto.line
      div.col.col_text
        span.headline_sub Privacy Policy
    div.row.row_text.blog_text
      span.text
        |Please follow this #[a(href="/privacy", style="font-weight:bold") Link] to see the privacy policy for this page. 
      
    div.row.blog_headline
      div.col-auto.line
      div.col.col_text
        span.headline_sub Cookies Policy
    div.row.row_text.blog_text
      span.text 
        |Please follow this #[a(href="/cookies", style="font-weight:bold") Link] to see the cookies policy for this page. 