extends layout

block content
  div.container.col-xl-8
    div.row.mt-auto
      span.headline Privacy Policy

    ddiv.row.blog_headline
      div.col-auto.line
      div.col.col_text
        span.headline_sub How does this website handle data?
    div.row.row_text.blog_text
      span.text
        |This website does neither store or process your personal data. 
        |If you reach out to the website owner via the email address mentioned on the contact and legal notice page, your email address and messages will only be stored and processed for the purpose of that conversation, unless consent is given otherwise.
        |
        |The above not withstanding, this website does use third party web analytics cookies to track the use and performance of individual pages. For more info on this, please refer to the #[a(href="/cookies", style="font-weight:bold") Cookies Policy]

   


